* {
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-image: url("https://c.wallhere.com/photos/aa/db/smartphone-69638.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
}